* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.imgs {
  display:flex;
  justify-content: center;
 
}
h1 {
  color: black;
  justify-content: center;

  
}


.uu {
  background-color: #E89180;
}


.imagg {
  background-color: #E89180;
  width: 100%;
  /* display: flex; */

}
.conteudoss {
  background-color: #707070;
  justify-content: end;
}

#sect{
  background-color: #707070;
}
#loogin {
  background-color: #E89180;
}
