* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#cabecalhoPrinci {
    display: flex;
    background-color: #9F1107
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.cabecalhoPrinci {
  background-color: #9F1107;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

